.form {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--c-gray-5);
}

.header {
  padding-bottom: 1rem;

  & strong {
    font-size: 1rem;
    color: var(--c-white);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
