@use "breakpoints.scss" as breakpoint;

.app {
  max-width: 64rem;
  margin: 8.5rem auto 0;
  padding: 0 2rem;
  overflow: hidden;

  @media (min-width: breakpoint.$xl) {
    padding: 0px;
  }
}

.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 8.5rem);

  @media (min-width: 768px) {
    width: calc(100% - 16rem);
    padding-right: 2rem;
    margin-left: 18rem
  }
}
